.App {
  background-color: #2d572c; /* Fundo verde escuro */
  height: 100vh; /* Altura total da tela */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo */
  margin: 0;
  font-family: Arial, sans-serif; /* Fonte padrão */
}
