.header {
    background-color: #ffffff;
    color: #2d572c;
    padding: 20px;
    border-radius: 32px;
    width: 90%;
    height: 90%;
  }
  
  .header-top {
    margin-bottom: 20px;
  }
  
.header-title {
    font-family: 'Odor Mean Chey', serif;
    font-size: 36px;
    font-weight: bold;
    color: #2d572c;
    display: inline-block;
    margin-right: 20px;
}

.header-subtitle {
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    color: #6e9c5e;
    display: inline-block;
}
  .header-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 80%;
  }
